<footer>
    <div class="container">
        <div class="footer-wrapp">
            <h2 class="footer-title">
                - get in touch with us -
            </h2>
            <p class="footer-text"> Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec
                malesuada
                ullamcorper odio.
                Curabitur blandit tempus porttitor vollisky inceptos mollisestor.
            </p>
            <div class="footer-icons">
                <img src="./dist/img/icons/RSS.svg" alt="">
                <img src="./dist/img/icons/Facebook.svg" alt="">
                <img src="./dist/img/icons/Twitter.svg" alt="">
                <img src="./dist/img/icons/Dribbble.svg" alt="">
                <img src="./dist/img/icons/Pinterest.svg" alt="">
            </div>
            <p class="footer-desc">Moonshine St. 14-05 Light City / T. +00 (123) 456 78 90 / first.last@email.com</p>
        </div>
    </div>
</footer>