<header>
    <div class="container">
        <div class="menu-wrapp">
            <nav class="menu">
                <ul class="menu-list">
                    <li class="menu-item"><a href="#">Home</a> </li>
                    <li class="menu-item"><a href="#">About Us</a></li>
                    <li class="menu-item"><a href="#">Our Journal</a></li>
                    <li class="menu-item"><a href="#">Projects</a></li>
                    <li class="menu-item"><a href="#">news</a></li>
                    <li class="menu-item"><a href="#">features</a></li>
                    <li class="menu-item"><a href="#">contact</a></li>
                </ul>
            </nav>
            <div class="burger-block">
                <div class="burgere-wrapp">
                    <div class="burger-menu">
                        <span class="burger-span"></span>
                    </div>
                    <div>
                        <nav>
                            <ul class="hide burger-list">
                                <li class="menu-itemBurger"><a href="#">Home</a> </li>
                                <li class="menu-itemBurger"><a href="#">About Us</a></li>
                                <li class="menu-itemBurger"><a href="#">Our Journal</a></li>
                                <li class="menu-itemBurger"><a href="#">Projects</a></li>
                                <li class="menu-itemBurger"><a href="#">news</a></li>
                                <li class="menu-itemBurger"><a href="#">features</a></li>
                                <li class="menu-itemBurger"><a href="#">contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-main">
            <img src="./dist/img/intro-img.png" alt="">
        </div>
    </div>
</header>