<section class="section-wrapp-inst">
    <div class="container">
        <div class="section-inst">
            <h2 class="inst-title">
                - Latest Instagram Shots
            </h2>
            <h2 class="inst-disc media-two ">
                go to our instagram page -
            </h2>
        </div>
        <div class="img-inst">
            <img src="./dist/img/post-1.png" alt="">
            <img src="./dist/img/post-2.png" alt="" class="media-two">
            <img src="./dist/img/post-3.png" alt="" class="media-two">
            <img src="./dist/img/post-4.png" alt="" class="media-none">
        </div>
    </div>
</section>