<section class="section-posts">
    <div class="container">
        <h1 class="posts-title">
            - our Recent posts
        </h1>
        <div class="cards-wrapp">
            <div class="section-gallery">
                <div class="cards-gallery">
                    <img src="./dist/img/post-img1.png" alt="">
                    <div class="gallery-disc">
                        <h2 class="gallery-title">Aenean Adipiscing Etiam Vestibulum</h2>
                        <span class="gallery-info">Photography, Journal / 9 Comments</span>
                        <p class="desctop-info">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
                            sem
                            lacinia quam
                            venenatis vestibulum.</p>
                    </div>
                </div>
            </div>
            <div class="section-gallery">
                <div class="cards-gallery">
                    <img src="./dist/img/post1img3.png" alt="">
                    <div class="gallery-disc">
                        <h2 class="gallery-title">Aenean Adipiscing Etiam Vestibulum</h2>
                        <span class="gallery-info">Photography, Journal / 9 Comments</span>
                        <p class="desctop-info">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
                            sem
                            lacinia quam
                            venenatis vestibulum.</p>
                    </div>
                </div>
            </div>
            <div class="section-gallery">
                <div class="cards-gallery">
                    <img src="./dist/img/post4img2.png" alt="">
                    <div class="gallery-disc">
                        <h2 class="gallery-title">Aenean Adipiscing Etiam Vestibulum</h2>
                        <span class="gallery-info">Photography, Journal / 9 Comments</span>
                        <p class="desctop-info">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
                            sem
                            lacinia quam
                            venenatis vestibulum.</p>
                    </div>
                </div>
            </div>
            <div class="section-gallery">
                <div class="cards-gallery">
                    <img src="./dist/img/post6img4.png" alt="">
                    <div class="gallery-disc">
                        <h2 class="gallery-title">Aenean Adipiscing Etiam Vestibulum</h2>
                        <span class="gallery-info">Photography, Journal / 9 Comments</span>
                        <p class="desctop-info">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
                            sem
                            lacinia quam
                            venenatis vestibulum.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>