.burgere-wrapp {
  display: flex;
  flex-direction: column;
}
.burger-block {
  display: flex;
  justify-content: end;
}
.burger-menu {
  width: 44px;
  height: 37px;
  background: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  @media screen and (max-width: 767px) {
    display: flex;
    margin: -23px 0px -23px;
  }
  .burger-span-close {
    width: 20px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    &::after {
      content: '';
      position: absolute;
      top: 10%;
      width: 20px;
      height: 2px;
      transform: rotate(90deg);
      background: rgb(255, 255, 255);
    }
  }
}
.burger-span {
  width: 17px;
  height: 2px;
  background: white;
}
.burger-span::after {
  content: '';
  position: absolute;
  top: 35%;
  width: 17px;
  height: 2px;
  background: rgb(255, 255, 255);
}
.burger-span::before {
  content: '';
  position: absolute;
  bottom: 35%;
  width: 17px;
  height: 2px;
  background: rgb(255, 255, 255);
}

.burger-list {
  width: 182px;
  height: 208px;
  display: block;
  position: absolute;
  background: #f5f5f5;
  top: 15px;
  right: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
  .menu-itemBurger {
    &:hover {
      background: #e5e5e5;
    }
    a {
      margin-bottom: 8px;
      margin-left: 8px;

      font-weight: 400;
      font-size: 11px;
      line-height: 22px;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      color: #4e4e4e;
      text-decoration: none;
      display: block;
      &:hover {
        color: rgba(87, 164, 164, 1);
      }
    }
  }
}
.hide {
  display: none;
}
